.comments-container {
  /* padding: 15px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments-input,
.comments {
  padding: 3%;
  background-color: gainsboro;
  border-radius: 0.2rem;
  margin: 1% 0;
}
.comments-input-img {
  width: 30px;
  height: 100%;
  border-radius: 50%;
  border: 2px solid gray;
  margin-right: 10px;
  /* margin-top: 5px; */
}
.comments-input-text-container {
  display: inline-block;
  /* border: 1px solid gray; */
  /* width: 100%; */
}
.comments-input-text {
  width: 70vw;
  margin-right: 10px;
}
.comments-input-sendBtn {
  /* display: block; */
  margin-left: auto;
  border-radius: 0.3rem;
}

/* .comments {
  padding: 3%;
  margin: 1% 0;
} */
.comments-count,
.comments-input-header {
  display: inline-block;
  padding-bottom: 1%;
  font-size: 20px;
  font-weight: 700;
}
.comments-comments {
  max-height: 60vh;
  overflow-y: scroll;
  border: 1px solid gray;
  padding: 1%;
}
.comment-info {
  display: flex;
}
.comment-name {
  font-weight: 600;
  align-self: flex-end;
}
.comment-text {
  /* font-weight: 600; */
  font-size: 14px;
  padding: 5px 0px;
  line-height: 1.2;
  margin-left: 35px;
}
