.comments-container {
  /* padding: 15px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments-input,
.comments {
  padding: 3%;
  /* background-color: var(--main-lighter); */
  margin: 1% 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px grey;
}
.comments-input {
  display: flex;
}
.comments-input form {
  text-align: right;
  width: 100%;
}
.comments-input-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 2px solid gray; */
  margin-right: 20px;
  /* margin-top: 5px; */
  object-fit: cover;
}
.comments-input-text-container {
  display: inline-block;
  /* border: 1px solid gray; */
  width: 100%;
}
.comments-input-text {
  /* width: vw; */
  position: relative;
  width: 100%;
  height: 150px;
  outline: none;
  display: block;
  border: none;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px gray;
}
/* .comments-input-text::placeholder {
  position: absolute;
  top: 0px;
  height: 100%;
} */
.comments-input-sendBtn {
  /* display: block; */
  margin-top: 10px;
  background-color: white;
  /* color: white; */
  /* border: none; */
  /* font-size: 0.9rem; */
  border-radius: 50px;
  border: 1px solid gray;
  padding: 13px 30px;
  font-weight: 600;
}

/* .comments {
  padding: 3%;
  margin: 1% 0;
} */
.comments-count,
.comments-input-header {
  display: inline-block;
  padding-bottom: 1%;
  /* font-size: 20px; */
  font-weight: 700;
}
.comments-comments {
  max-height: 60vh;
  overflow-y: scroll;
  /* border: 1px solid gray; */
  /* padding: 1%; */
}
.comment {
  background-color: white;
  padding: 2%;
  margin: 1%;
  border-radius: 0.5rem;
  /* box-shadow: 1px 1px 2px gray; */
}
.comment-deleteBtn {
  /* display: inline; */
  visibility: hidden;
  color: var(--main-light);
}
.comment:hover .comment-deleteBtn {
  visibility: visible;
}
.comment-info {
  display: flex;
}
.comment-info-right {
  width: 100%;
}
.comment-info-profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.comment-name {
  font-weight: 600;
  align-self: flex-end;
}
.comment-text {
  /* font-weight: 600; */
  font-size: 14px;
  padding: 5px 0px;
  line-height: 1.2;
  /* margin-left: 35px; */
}
.comment-deleteBtn {
  background-color: transparent;
  border: none;
  padding: 0 1%;
  font-size: 0.8rem;
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
  .comments-input-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 15px;
  }
  .comment-info-profilePic {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
