.home-banner {
  position: relative;
  height: 60vh;
  /* border: 1px solid blue; */
  background-color: var(--main-lighter);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.home-banner h1 {
  color: var(--main-dark);
  font-weight: 600;
  font-size: 3rem;
}
.home-banner p {
  width: 60%;
  font-size: 1.2rem;
}
.home-banner button {
  width: 30%;
  padding: 1%;
  border-radius: 0.5rem;
  font-weight: 600;
}
.home-banner img {
  position: absolute;
  /* width: 10%; */
  top: 0;
  right: 0;
  height: 100%;
}
.home-expertsList {
  text-align: center;
  padding: 5% 0;
}

.home-portfolio-button {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.home-portfolio-sortButton * {
  border: 2px solid transparent;
  background: none;
  color: black;
}
/* 
.sortButton *:hover {
  border-bottom: 2px solid cadetblue;
} */

.home-portfolio-viewAll {
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
  background-color: var(--main-dark);
  color: white;
}
