.profileList-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  /* padding: 40px 20px; */
  margin: 3%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 2px gray;
}
.profileList-info a {
  text-decoration: none;
  color: black;
}
.profileList-info a:hover {
  color: black;
}
.profileList-info-imgContainer {
  position: relative;
}
.profileList-info-img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  /* border: 2px solid black; */
  /* margin: 15% 0px; */
}
.profileList-info-detail {
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5%;
}
.profileList-info-createBy {
  /* font-size: 1.2rem; */
  font-weight: 600;
  padding-bottom: 5px;
}
.profileList-info-field {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 5px 15px;
  font-size: 0.9rem;
  /* font-weight: 500; */
  background-color: white;
  border-radius: 10px;
  /* border: 1.5px solid black; */
}
.profileList-info-title,
.profileList-info-career {
  /* font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px; */
  font-size: 0.9rem;
}

.profileList-info button {
  width: 100%;
  padding: 7px 0px;
  margin-top: 5px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
}
