.header {
  text-align: center;
  margin-top: 3%;
}
.header span {
  font-size: 1.2rem;
  /* font-weight: 600; */
}
.portfolios-list {
  display: grid;
  /* grid-auto-rows: 100%; */
  /* flex-wrap: wrap; */
  padding: 2vw 5vw;
  /* background-color: var(--main-lighter); */
}

.portfolios {
  margin: 13px;
}

@media screen and (min-width: 550px) {
  .portfolios-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 850px) {
  .portfolios-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .portfolios-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .header span {
    font-size: 1.2rem;
    /* font-weight: 600; */
  }
}
@media screen and (min-width: 1450px) {
  .portfolios-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1750px) {
  .portfolios-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.portfolios-image-container {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.portfolios-image-container > .likeProfile {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}
.portfolios-image-container > .likeProfile span {
  display: none;
}
.portfolios-info {
  /* border: 1px solid aqua; */

  display: flex;
  justify-content: space-between;
  padding: 4% 3%;
}

.portfolios-info > div {
  display: flex;
  align-items: center;
}
.portfolios-info > div .likeProfile .likeText {
  display: none;
}

.portfolios-pic {
  width: 30px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}
.portfolios-profile {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.portfolios-profile-field {
  font-size: 12px;
}
.portfolios-list > div > div {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px gray;
}

.portfolios-image {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}
.portfolios-info-right span {
  font-size: 13px;
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
}
