.loading {
  position: sticky;

  top: 0;
  background-color: aqua;
  width: 80vw;
  height: 300px;
  z-index: 1;
  /* text-align: center; */
}
.loading i {
  animation: rotate 1.7s ease-in-out infinite;
  font-size: 2rem;
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.loading span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
}
