.login-logo {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 100%;
  background-color: var(--main-lighter);
  /* border: 1px solid rebeccapurple; */
  /* align-items: center; */
  /* color: white; */
}
.login {
  /* background-color: white; */
  width: 50%;
  padding: 5%;
  border-radius: 7px;
  height: 100%;
  overflow-y: scroll;
}
.login-continueWith {
  border-bottom: 2px dashed var(--main-dark);
  padding-bottom: 10%;
}
.login > input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin: 10px 0;
  /* background-color: transparent; */
  width: 100%;
  outline: none;
}
/* .login-email {
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin: 10px 0;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.login-password {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin: 10px 0;
} */
.login-button > * {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 2%;
}
.login-or {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.login-google {
  background-color: rgb(151, 151, 151);
  padding: 3%;
  border-radius: 0.3rem;
  width: 100%;
  /* margin: 0 5%; */
}
.login-signin {
  padding: 10px;
  border-radius: 0.3rem;
  font-weight: 700;
  width: 100%;
  margin-top: 5%;
}
.login h2 {
  text-align: center;
  color: var(--main-dark);
  padding: 3% 0;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login label {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.login input {
  margin-top: 3px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
.login select {
  margin-top: 3%;
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
  .login-logo {
    display: none;
  }
  .login {
    width: 100%;
  }
}
