.navbar {
  border-bottom: 1px solid gray;
  padding: 0px 3% !important;
  z-index: 2;
}
.navbar-left {
  /* width: 30%;s */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.navbar-left a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 3%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-weight: 600;
}
.navbar-left > a:hover {
  border-bottom: 4px solid var(--main-dark);
}
.navbar-left > a:nth-child(1):hover {
  border-bottom: 4px solid transparent;
}
.navbar-logo-container {
  cursor: pointer;
  /* margin-right: 3%; */
  width: 80%;
  max-width: 200px;
  padding: 0px 0px;
  border-bottom: none;
}

/* .navbar-left > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 5%;
  height: 4px;
  background: blue;
} */
.navbar-logo {
  /* font-weight: 7x00; */
  /* font-size: 30px; */

  margin-right: 3%;
  width: 90%;
  padding: 0px 0px;
  border-bottom: none;
}

.navbar-middle {
  /* width: 40%; */
  border-radius: 50px;
}
.navbar-middle * {
  margin: 3px 0px 3px 10px;
}
.searchBar {
  border: none;
}

.navbar-right {
  /* width: reset; */
  display: flex;
  align-items: center;
}
.navbar-right > div {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right a {
  box-sizing: border-box;
  display: inline-block;
  padding: 3%;
  text-decoration: none;
  color: black;
}

.navbar-right a:hover {
  color: var(--main-dark);
  font-weight: 600;
}
.navbar-right span {
  padding-right: 5%;
}
/* .navbar-right > div span {
  white-space: nowrap;
} */
.navbar-right button {
  font-size: 1.1rem;
  width: 130px;
  height: 35px;
  border-radius: 0.3rem;
  margin: 3%;
}
.navbar-right-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 5%;
  object-fit: cover;
}
.navbar-left-mobileVer {
  display: none;
}
.fa-bars {
  font-size: 1.5rem;
  color: var(--main-dark);
  margin-left: 10%;
}
/* tablet */
@media screen and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
  }
  .navbar-left {
    width: 100%;
    padding: 0 2%;
    justify-content: space-between;
  }
  .navbar-left a {
    padding: 1%;
  }
  .navbar-logo {
    width: 70%;
  }
  .navbar-right-user {
    width: 30px;
    height: 30px;
  }
  .navbar-left-mobileVer {
    display: flex;
    align-items: center;
  }
  .fa-bars {
    cursor: pointer;
  }

  .navbar-left a:nth-child(n + 2),
  .navbar-right {
    display: none;
  }
  .navbar-left-user {
    display: inline-block;
  }
}
