.navbar {
  border-bottom: 1px solid gray;
  padding: 0px !important;
  margin-bottom: 2%;
}
.navbar-left {
  /* width: 30%;s */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.navbar-left a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 3%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-weight: 600;
}
.navbar-left > a:hover {
  border-bottom: 4px solid var(--main-dark);
}
.navbar-left > a:nth-child(1):hover {
  border-bottom: 4px solid transparent;
}
.navbar-logo-container {
  cursor: pointer;
  /* margin-right: 3%; */
  width: 80%;
  max-width: 200px;
  padding: 0px 0px;
  border-bottom: none;
}

/* .navbar-left > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 5%;
  height: 4px;
  background: blue;
} */
.navbar-logo {
  /* font-weight: 7x00; */
  /* font-size: 30px; */

  margin-right: 3%;
  width: 90%;
  padding: 0px 0px;
  border-bottom: none;
}

.navbar-middle {
  /* width: 40%; */
  border-radius: 50px;
}
.navbar-middle * {
  margin: 3px 0px 3px 10px;
}
.searchBar {
  border: none;
}

.navbar-right {
  /* width: 15%; */
}
.navbar-right > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right > div > * {
  padding: 3%;
}
/* .navbar-right > div span {
  white-space: nowrap;
} */
.navbar-right button {
  font-size: 13px;
  width: 90px;
  height: 35px;
  border-radius: 3px;
  margin-left: auto;
}
.navbar-right-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 5%;
}
/* tablet */
@media screen and (max-width: 1023px) {

}
/* mobile */
@media screen and (max-width: 768px) {

}
