.portfolio-upper {
  /* display: flex; */
  margin: 2% 4%;
}
.portfolio {
  /* width: 75%; */
  /* border-radius: 10px;
  box-shadow: 0px 1px 5px gray; */
}
.portfolio-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid rebeccapurple; */
  padding: 3% 7%;
  border-radius: 10px;
  /* background-color: var(--main-lighter); */
}
.portfolio-profile a {
  text-decoration: none;
  color: black;
}
.portfolio-profile a:hover {
  color: black;
}
.portfolio-profile-left {
  /* padding-left: 2%; */
  display: flex;
  align-items: center;
}
.portfolio-profile-left .displayName {
  font-weight: 600;
  font-size: 1.3rem;
  margin-right: 15px;
}
.portfolio-profile-left .field {
  font-size: 0.7rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
}

.portfolio-profile-right {
  align-items: center;
}
.portfolio-profile-right > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.portfolio-profile-right > div > div {
  align-items: center;
  /* margin-right: 10%; */
}
.portfolio-profile-right .followProfile > span {
  display: none;
  margin-left: 5%;
}
.portfolio-profile-right .followBtn {
  border-radius: 50px;
  padding: 13px 30px;
  margin-right: 10px;
}
.portfolio-profile-right .likeProfile {
  border-radius: 50px;
  border: 1px solid gray;
  padding: 13px 30px;
  font-weight: 600;
}
.portfolio-profile-right .likesCount {
  display: none;
}

/* pdf */
.portfolio-portfolio {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.portfolio-viewPortfolio {
  position: relative;
}
.portfolio-viewPortfolio-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 8%;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 0px 5%;
  /* -ms-transform: translate(-50%, -50%); */
}
.portfolio-viewPortfolio-button button {
  border: none;
  width: 5%;

  background-color: gainsboro;
}

.portfolio-viewPortfolio-pagenum {
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-viewPortfolio iframe {
  width: 100%;
  height: 70vh;
  /* margin: 5px; */
  border-radius: 1rem;

  box-shadow: 0px 0px 5px gray;
}
.react-pdf__Document {
  width: 100%;
  text-align: center;
}

.react-pdf__Page {
  display: flex;
  justify-content: center;
}
.react-pdf__Page__canvas {
  /* //element.style이라는 기존 세팅을 override 하려면 !important 해주면 됨!! */
  width: 100% !important;
  height: 100% !important ;
  padding: 10px 15px;
  border-radius: 20px;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}

.portfolio-viewPortfolio-introduction {
  padding: 10% 5%;
  position: relative;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px gray;
}
.portfolio-viewPortfolio-introduction span {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.portfolio-viewPortfolio-introduction-profile {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  /* height: 100%; */
}
.portfolio-viewPortfolio-introduction-profile span {
  font-size: 0.9rem;

  /* height: 100%; */
}
.portfolio-viewPortfolio-introduction-profile:hover {
  color: black;
}
.portfolio-viewPortfolio-introduction-visit {
  position: absolute;
  text-decoration: none;
  color: white;
  background-color: var(--main-dark);
  font-size: 0.9rem;
  /* width: 50%; */
  border-radius: 0.3rem;
  padding: 2% 7%;
  /* margin: 1% 15%; */
  bottom: 5%;
}
.portfolio-viewPortfolio-introduction-visit:hover {
  color: white;
}
/* comment */
.portfolio-comment {
  /* width: 25%; */
  /* border: 1px solid rosybrown; */
}
.portfolio-related > span {
  display: inline-block;
  padding: 1% 7%;
  font-weight: 700;
}
/* tablet */
@media screen and (max-width: 1023px) {
  .portfolio-portfolio {
    display: flex;
    flex-direction: column;
  }
  .portfolio-viewPortfolio-introduction {
    padding: 5% 4% 15%;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  .portfolio-profile {
    flex-direction: column;
    padding: 3%;
  }
  .portfolio-profile-right {
    margin-left: auto;
  }
  .portfolio-profile-right .followBtn,
  .portfolio-profile-right .likeProfile {
    padding: 7px 15px;
  }
}
