.profile {
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
}
.profile-header {
  display: grid;
  grid-template-columns: 4fr 2fr;
  border: 1px solid wheat;
  padding: 3%;
}

.profile-left > div {
  border: 1px solid aqua;
  /* width: 250px; */
}

.profile-info {
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
}
.profile-info-detail {
  display: flex;
  flex-direction: column;
}

.profile-info-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;

  margin: 0 2%;
}
.profile-info-createBy {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.profile-info-field {
  padding: 1px 20px;
  margin: 10px 0;
  font-size: 11px;
  font-weight: 500;
  background-color: bisque;
  border-radius: 5px;
  border: 1.5px solid black;
}
.profile-info-title {
  font-size: 13px;
  font-weight: 500;
  padding-top: 5px;
  /* margin-bottom: 20px; */
}

.profile-info button {
  width: 100%;
  padding: 7px 0px;
  margin-top: 5px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.profile-info .followProfile {
  width: 100%;
}

.profile-follow {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.profile-follow > span {
  padding: 0 10px;
}
.profile-follow > div {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  /* padding: 10px; */
}

.profile-follow > div > div:nth-child(2) {
  font-size: 12px;
}
.profile-portfolio {
  display: flex;
  margin-top: auto;
}
.profile-portfolio button {
  width: 48%;
  padding: 10px 0px;
  margin: 2px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}

.profile-bottom {
  width: 88vw;
  margin: auto;
}
.profile-tab-container {
  width: 96%;
  border-bottom: 1px solid red;
  margin: auto;
}
.profile-tab {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid aqua;
  /* padding: 0 2%; */
  width: 30%;
}
.profile-tab > a {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2%;
  text-decoration: none;
  color: black;
}
.profile-tab > a:hover {
  border-bottom: 5px solid orange;
}
